body {
    background: darkcyan;
    color: white;
    margin: 8px;
}
h1 {
    font-size: xxx-large;
    margin: 0;
    text-align: center;
}
h2 {
    font-size: xxx-large;
    text-align: center;
    margin: 8px;
}
h3 {
    font-size: xxx-large;
    margin: 0;
    text-align: center;
}
.category-frame{
    border: solid;
    border-radius: 16px;
}
.social-media{
    padding: 8px;
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
}
.link{
    color: white;
}
.footer{
    text-align: center;
}