.product {
    font-size: x-large;
}
.product-header{
    display: flex;
    justify-content: space-between;
}
.product-name{
    width: 70%;
}
.product-dollar-sign {
    width: 5%;
    text-align: right;
}
.product-price {
    width: 25%;
    text-align: right;
}
.product-description {
    font-size: large;
    margin-top: 4px;
    margin-bottom: 8px;    
}